{% extends 'monkey_hd/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand">Dashboard (Agile view)</a>
                    </div>
                    <a href="{% url 'ticket_new' %}" type="button" class="btn btn-success navbar-btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Ticket</a>
                    <div class="nav navbar-nav navbar-right">
                        <form id="search_form" method="post" action="{% url 'agile' %}" class="navbar-form navbar-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" placeholder="search by id"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </div>
                    {% if user.is_superuser or user.userprofile.permission.name == "admin"%}
                        <div class="nav navbar-nav navbar-right">
                            <form id="search_form" method="post" action="{% url 'agile' %}"
                                  class="navbar-form navbar-left">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select class="form-control" name="filter" required>
                                        <option value=""></option>
                                        {% for user in users %}
                                            <option value="{{ user }}">{{ user }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default">Filter</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% include "monkey_hd/agile_tickets.html" %}
        </div>
    </div>
{% endblock %}