{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>monkey_hd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="bcrespi">
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png"/>
    {% include "monkey_hd/imports.html" %}
</head>
<body>
{% include "monkey_hd/navbar.html" %}
<main>
    {% block content %}
    {% endblock %}
</main>
{% include "monkey_hd/scripts.html" %}
</body>
</html>